
html {
	height: 100%;
}

body {
	height: 100%;
}

@font-face {
    font-family: 'Starjedi';
    src: url(Starjedi.ttf);
}

.dd-container{
	display: flex;
	flex-direction: column;
	justify-content: 'space-between';
	height: 100%;
	width: 100%;
}

.image {
	position: relative;
	flex-grow: 1;
	width: 100%;
}

.image img {
	height: 100%;
}

.image-old {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(old.png);
	background-size: cover;
	opacity: 1;
}

.image-now {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(now.png);
	background-size: cover;
	opacity: 0;
}

.dd-bar {
	position: relative;
	align-self: flex-end;
	height: 50px;
	width: 100%	
}

.slider {
	position: absolute;
	width: 96%;
	top: 40%;
	left: 2%;
}

.modal-content {
	-webkit-box-shadow: 0px 0px 17px 4px rgba(224,106,52,1);
	-moz-box-shadow: 0px 0px 17px 4px rgba(224,106,52,1);
	box-shadow: 0px 0px 17px 4px rgba(224,106,52,1);
	background-color: rgba(37, 73, 95, 0.80);
}

.modal-title {
	color: #FFF;
	font-family: 'Starjedi';
}

.modal-body {
	color: #FFF;
	font-family: 'Starjedi';
	font-size: 30px;
}

.modal-dialog {
  	margin: 26% auto;
}